/* You can add global styles to this file, and also import other style files */
/* Reset some basic styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #5585b5;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  } */
  
  /* .error {
    color: #e74c3c;
    font-size: 0.8em;
  }
  @media (max-width: 768px) {
    .recipe-item {
      width: calc(50% - 20px);
    }
  
    .recipe-form {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .recipe-item {
      width: 100%;
    }
  }
  
   */